*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* navbar */
#HomePageContent {
    width: 100%;
    height: 2000px;
    margin: auto;
  }
  #AnthroNav_Bar {
    height: 100px;
    width: 100%;
  }
  .stayNav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #OfferNav {
    height: 15px;
    width: 98%;
    text-align: center;
    color: snow;
    background-color: darkcyan;
    font-family: "Avenir Medium", sans-serif;
    letter-spacing: 0.06rem;
    font-size: 12px;
    padding: 1%;
  }
  #NavDiv_a {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: snow;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: #26262c;
  }
  #SiteName {
    width: 65%;
    font-weight: bold;
    margin-left: 4%;
    font-size: 20px;
    font-stretch: wider;
    letter-spacing: 3px;
  }
  #SiteName:hover {
    cursor: pointer;
  }
  #SearchBar {
    width: 18%;
    height: 70%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    margin-top: 8px;
    display: flex;
  }
  #searchTxt {
    width: 220px;
    height: 22px;
    padding: 5px;
    border: 0px;
    font-family: "Avenir Medium", sans-serif;
    letter-spacing: 0.06rem;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  #iconSearch {
    width: 22px;
    height: 22px;
    align-items: right;
    color: darkcyan;
    font-size: 22px;
    margin-top: 5px;
  }
  #iconSearch:hover {
    cursor: pointer;
    color: #26262c;
    content: "";
    transition: width 0.1s linear;
  }
  #iconNav {
    width: 22px;
    height: 22px;
    align-items: right;
    color: darkcyan;
    font-size: 32px;
    margin-top: 12px;
    margin-left: 32px;
  }
  #iconNav:hover {
    cursor: pointer;
    color: #26262c;
    content: "";
    transition: width 0.1s linear;
  }
  #NavDiv_b {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: snow;
    color: #26262c;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-top: 15px;
    gap: 20px;
  }
  #TagsNav {
    width: 80px;
    height: 28px;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #26262c;
    background-position: 50%;
    font-size: 12px;
    font-family: "Avenir Medium", sans-serif;
  }
  #TagsNav:hover {
    cursor: pointer;
    color: darkcyan;
    content: "";
    border-bottom: 1px solid darkcyan;
    transition: width 0.1s linear;
  }
  #TagsNav1 {
    width: 130px;
    height: 28px;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #26262c;
    background-position: 50%;
    font-size: 12px;
    font-family: "Avenir Medium", sans-serif;
  }
  #TagsNav1:hover {
    cursor: pointer;
    color: darkcyan;
    content: "";
    border-bottom: 1px solid darkcyan;
    transition: width 0.1s linear;
  }















#cartPageFinal{
    display: flex; 
    padding: 20px 70px;
    line-height: 25px;
}
#fitThisImgInCart{
    width: 100%;
}
#productSectionCart{
    width: 65%;
}
#productSectionPayment{
    width: 35%;
    height: 400px;
    position: sticky;
    top: 0;
    margin:40px auto 50px 60px;
    
}
#productSectionPayment>div{
    border:1px solid rgb(229 226 222);
    padding: 20px 20px;
    margin-top: 15px;
}
#productSectionCart>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}
#productSectionCart>div>h1+span{
    font-size: 15px;
    color: rgb(74, 166, 197);
    text-decoration: underline;
}

#CartTableProduct{
    width: 100%;
    line-height: 25px;
    border-collapse: collapse; 
}
tr{
    border-bottom: 1px solid rgb(195, 195, 195);
}
tr>td{
    padding: 20px;
}
tr>td:nth-child(2){
    width: 160px;
}
#cartSelect-tag{
    height: 40px;
    width: 50px;
}
tr>td~td{
    padding:35px 25px;
    vertical-align: top;
}
.hover:hover{
    cursor: pointer;
}
#productSectionPayment>div>ul{
    list-style-type: none;
    
}
#productSectionPayment>div>ul>li{
    display: flex;
    justify-content: space-between;
    color: rgb(92 92 95);
}
#productSectionPayment>div>ul>li:nth-child(4){
    font-weight: bold;
    color: black;
}

.ProceedToCheckout-btn{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
}

#fit-this{
    height: 100%;
}

#productSectionPayment>div>ul>button:nth-child(5){
    background-color: #4b5666;
    color: white;
    border: none;
    margin-top: 25px;
}
#productSectionPayment>div>ul>button:nth-child(5):hover{
    background-color: white;
    color: #4b5666;
    cursor: pointer;
    border: 1px solid #4b5666;
}
#productSectionPayment>div>ul>button:nth-child(6){
    cursor: pointer;
}
#productSectionPayment>div>ul>button:nth-child(6){
    height: 50px;
    margin-bottom: 20px;
}
#promoDiv>input{
    height: 35px;
    width: 60%;
    margin-top: 10px;
}
#promoDiv{
    display: flex;
    justify-content: space-between;
}
#promoDiv>button:hover{
    cursor: pointer;
    background-color: #4b5666;
    color: black;
    border: none;
}
#promoDiv>button{
    height: 35px;
    width: 75px;
    font-size: 18px;
    margin: 10px 30px auto;
    color: #4b5666;
}
hr{
    margin-bottom: 10px;
}
#lableForPromo{
    font-size: 20px;
    color: #464d56;
}
#link{
    text-decoration: none;
    color: aliceblue;
}

